@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1:rgba(0, 0, 0, 0.475);
   --color2: rgb(255, 255, 255);
}

body{
    background-color: rgb(112, 107, 107);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.form{
    background-color: rgb(67, 125, 125);
    border-radius: 10px;
    font-size: 1.2rem;
    margin:3rem 5rem;
    padding:3rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.form input{
    margin-left:.5rem;
    border-radius: 4px;
    height:2rem;
}

.form > *{
    padding-bottom: 1rem;
}

.btn{
    align-self: center;
    text-align: center;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    border: white 1px solid;
}

.btn:hover{
    background-color: blueviolet;
    color: white;
}

.storage{
    width:100vw;
    background-color: rgb(46, 48, 46);
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.storage ul{
    border-radius: 5px;
    list-style: none;
    padding: 1rem 1rem;
}

.storage ul li{
    padding: 4px auto;
    color:white;
    padding: 2px;
}

.storage ul:nth-child(2n){
    background: var(--color1);
    color: var(--color2);
}

.storage ul:nth-child(2n + 1){
    background:rgba(255, 255, 255, 0.432);
}
.storage ul:nth-child(2n + 1) li{
        color: rgb(226, 0, 38);
}