:root{
    --track-color: #000000;
    --thumb-color: #0f0939;
    --thumb-hover-color: #420d70;
}

::-webkit-scrollbar{
    width: 8px;
    margin-right: 12px;
}

::-webkit-scrollbar-track {
    background: var(--track-color) ;
}

::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}

::-webkit-scrollbar-button {
    display: none;
}