@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
*{
    font-family: 'Jim Nightshade', cursive;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-shadow: 0px 1px 0.5px red;
}

body{
    min-height: 100vh;
    color:rgb(255, 255, 255);
    font-size: x-large;
    letter-spacing: 1px;
    background: rgb(2,1,17);
}

.container{
    position: relative;
}

.container img{
    position: absolute;
    pointer-events: none;
}

#bg{
    position: relative;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.gate-left{
    height:500px;
    left:0;
    bottom:0;
}

.gate-right{
    height:500px;
    right:0;
    bottom:0;
}

.left-bat{
    filter: drop-shadow(2px 2px 2px rgb(23, 6, 76));
    rotate: -45deg;
    height:100px;
    left:33%;
    bottom: 50%;
}

.right-bat{
    rotate: 45deg;
    filter: drop-shadow(2px 2px 2px rgb(23, 6, 76));
    height:100px;
    right:30%;
    top:40%;
}

.article{
    margin-top: 50px;
    padding: 0 100px;
}

footer{
    font-size: 10rem;
    text-shadow: 1px 1px 3px red, 5px 5px 1px pink;
    height: 100vh;
    display: flex;
    justify-content: center;
}