*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    padding: 20px;
    height: 20rem;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    /* border: rgb(0, 0, 0) 1px solid; */
}


tr:nth-of-type(odd){
    background-color: rgb(184, 188, 190);
}