@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --gradient-pink: #f64f59;
    --gradient-purple: #c471ed;
    --gradient-blue: #12c2e9;
    --black-border: solid 2px black;;
    --white-border: solid 2px rgb(255, 255, 255);

}

body{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient-pink), var(--gradient-purple),var(--gradient-blue));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,var(--gradient-pink), var(--gradient-purple), var(--gradient-blue));
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 2rem 5rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    font-weight: 550;
    letter-spacing: 0.5px;
}


div{
    margin-top: 1rem;
}

button{
    position: fixed;
    right: 1.8rem;
    bottom: 1.8rem;
    background-color: #0000007a;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-top: var(--black-border);
    border-left: var(--black-border);
    border-bottom: var(--white-border);
    border-right: var(--white-border);
    transition: all .5 ease-in-out;
}


button:hover{
    cursor: pointer;
    background-color: #d74ff6;
    color: white;
    border-top: var(--white-border);
    border-left: var(--black-border);
    border-bottom: var(--black-border);
    border-right:  var(--white-border);
}

button:active{
    color: #000000;
    border-top: var(--white-border);
    border-left: var(--white-border);
    border-bottom: var(--black-border);
    border-right:  var(--black-border);
}
