@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 300vh;
width: 98vw;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container{
    font-size: 24px;
    letter-spacing: 1px;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #396afc, #2948ff);
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}